# Ignore everything
*

# But not these files...
!linux
linux/*
!linux/Dockerfile
!linux/CREDITS.md
!linux/scripts
!linux/scripts/*
!.github
.github/*
!.github/workflows
!.github/workflows/*
!.gitignore
!README.md
!docker-compose.yaml
!.env.example
