services:
  runner:
    # Instead of
    # image: ghcr.io/ableytner/docker-github-actions-runner:latest-ubuntu
    # We simply build the image we want:
    build: ./linux
    restart: unless-stopped
    env_file: .env
    privileged: true
    networks: [runner_net]
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 128M

networks:
  runner_net:
    dns: 1.1.1.1
